<h1>Accounts</h1>

<table class="condensed-table">
  <thead>
    <tr>
      <th>Login</th>
      <th>Password</th>
    </tr>
    <tr>
  </thead>
  <tbody>
    <% @accounts.each do |a| %>
      <tr>
          <th> <%= link_to a.login, a %> </th>
          <th> <%= a.password %> </th>
      </tr>
    <% end %>
  </tbody>
</table>

<p> <%= link_to "Add a New Account", new_account_path %> </p>
